@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

/* card aninamtions */




 body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   font-variant-ligatures: none;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   background-color: #000000;
/*   fixing horizontal scrolling */
   overflow-x: hidden;
}

.head-section{
  box-shadow: 0 8px 6px -6px black;
  /* background-image: url("./img/banner.png"); */
  color: #ce3607;
  background-color: #000000;
  

}

/* .head-section{
    box-shadow: 0 8px 6px -6px black;
    background-image: url("./img/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
    image-rendering: auto;
    max-width: 400em;;
    color: #000000;
    border-radius: 20px;

} */


body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}
.header-img{
  height: 20px;
  background-color: black;
}

/* mobile responsive  */
@media (max-width: 768px) {
  .header-img{
    height: 95px;
  }
}

@media (max-width: 425px) {
  .header-img{
    height: 60px;
  }
}
@media (max-width: 375px) {
  .header-img{
    height: 48px;
  }
}
@media (max-width: 320px) {
  .header-img{
    height: 30px;
  }
}




.icon{
  color: black;
}



 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}

.w-full {
  width: 100%;
  height: calc(100% - 50%);
}

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
body {
font-family: "Montserrat", sans-serif;
font-size: 13px;
color: #000000;
margin: 0;
/* background: url('https://images.unsplash.com/photo-1524899559789-49e2fa115598?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ') no-repeat; */
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700"),
a,
a:hover,
a:visited,
a:focus,
textarea {
text-decoration: none;
outline: 0;
cursor: pointer;
}

.github-main {
display: block;

padding: 50px 0;
position: relative;
}

.github-wrapper {
background: #fff;
max-width: 320px;
margin: 0 auto;
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
border-radius: 40px;
/* border-radius: 0px 0px 30px 0px; */
-webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
font-size: 0;
}

.github-banner canvas {
display: block;
width: 100%;
background-position: center center;
background-size: cover;
background-repeat: repeat;
border-radius: 40px 40px 0 0;
}

.github-dp {
border-radius: 40px;
width: 100%;
height: 100%;
max-width: 150px;
margin: 0 auto;
position: absolute;
top: -68px;
left: 0;
right: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-transition: 0.3s all ease-in;
-o-transition: 0.3s all ease-in;
transition: 0.3s all ease-in;
}

.github-dp canvas {
display: block;
width: 100%;
background-position: center center;
background-size: cover;
background-repeat: repeat;
border-radius: 50%;
border: 1px solid #000;
}

.github-name {
display: block;
text-align: center;
z-index: 2;
position: relative;
    margin-top: 1px;
}

.github-name h2 {
  margin: 2px auto;
    font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #2d303a;
  margin: 0;
}

.github-name h2 span {
display: block;
font-size: 13px;
line-height: 1;
letter-spacing: 0.5px;
margin-top: 5px;
font-weight: 400;
}

.github-followers-wrap {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
z-index: 5;
position: relative;
}


.github-follow h2 span {
color: #666;
font-size: 13px;
display: block;
margin-top: 5px;
font-weight: 300;
}
.github-button {
  padding: 2px;
display: block;
z-index: 2;
position: relative;
    margin-bottom: 20px;
}

.github-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 50px;
  background: #e8c411;
  color: #000;
  margin: 0 auto;
  border-radius: 40em;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.github-bio p {
font-size: 14px;
line-height: 20px;
color: #666;
text-align: left;
display: block;
scroll-behavior: auto;
}

.github-details {
display: block;
padding: 100px 30px 20px;
position: relative;
}

.footer {
  color: #ce3607;
}